@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

.ctn-extend {
    padding-right: 0;
    padding-left: 0;
}

.slideshow-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000; /* make it a bit darker */
    transition: opacity 1s;
}

.slide img {
    width: inherit;
    height: inherit;
    object-fit: cover; /* make images cover background wholy */
    opacity: 0.6; /* make it a bit darker */
}

/* text box over image container */
.overlay {
    position: absolute;
    z-index: 100;
    width: 45%; /* set the width of the positioned div */
    margin: 0 auto;
    padding: 15px;
    top: 15%; /* adjust this value to move the positioned div up and down */
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-family: 'Pacifico', cursive;
    background-color: rgba(92, 94, 97, 0.4);
}

.container-avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    margin: 0;
    z-index: 999;
}

.container-avatar .avatar {
    position: absolute;
    margin: 0;
    width: 70px;
    height: 62px;
    bottom: 6px;
    right: -35px;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 999;
}

.overlay h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 40px;
    text-decoration: underline;
}

.overlay .para-name {
    margin: 10px 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
}

.overlay .para-name-chinese {
    margin: 10px 0 10px 0;
    font-family: 'Noto Serif SC', serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
    letter-spacing: 2px;
}

.overlay .para-decs {
    margin: 10px 0 10px 0;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
}

.overlay .para-date {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.overlay .para-company {
    margin: 10px 0 10px 0;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Fredoka One', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: deepskyblue;
}

.overlay .para-pos {
    margin: 10px 0 10px 0;
    font-size: 25px;
    font-family: 'Righteous', cursive;
    color: aquamarine;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.overlay .para-work-desc {
    margin: 0 5px 0 5px;
}

.overlay .para-work-desc li {
    margin: 5px 0 5px 0;
    padding: 0 0 0 2px;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
}

.overlay .para-emails {
    margin: 15px 0 15px 0;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Crimson Text', serif;
}

.overlay .para-mobile {
    margin: 10px 0 10px 0;
    font-size: 25px;
}

.overlay .para-linkedin,
.overlay .para-github,
.overlay .para-indeed {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.overlay .para-linkedin a,
.overlay .para-github a,
.overlay .para-indeed a {
    text-decoration: underline;
    color: #3affe4; 
    font-family: 'Crimson Text', serif;
}

/* quote styles - begin */
blockquote {
    quotes: "“" "”" "‘" "’";
    font-style: italic;
}

blockquote:before {
    content: open-quote;
}
  
blockquote:after {
    content: close-quote;
}

blockquote:before,
blockquote:after {
  color: deepPink;
  font-size: 1.2em;
}

blockquote {
    margin-left: 0px;
    border-left: 5px solid deepPink;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.overlay .para-author {
    margin: 15px 0 15px 0;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 15px;
}
/* quote styles - end */

/* common class for visibility of arrow */
.arrow-visibility {
    opacity: 0;
}

/* common class for arrows */
.control {
    position: absolute;
    top: 0;
    width: 15vw;
    height: 100%;
    background-color: rgba(92, 94, 97, 0.6);
    z-index: 100; /* place it on the top */
    cursor: pointer;
    display: flex; /* use flex to center arrows */
    justify-content: center; /* to center item horizontally */
    align-items: center; /* for vertical centering */
    transition: opacity 0.5s linear;
}

/* common class for arrow control */
.control:hover {
    opacity: 1;
}

/* overlay left arrow */
.left-arrow {
    left: 0; /* set it to the left */
}

/* overlay right arrow */
.right-arrow {
    right: 0; /* set it to the right */
}

/* manual arrow lines */
.line {
    width: 0.2rem;
    height: 10rem;
    background-color: #ddd5d5;
}

/* arrow line 1 */
.line-1 {
    transform: rotate(30deg) translateY(0.80rem); /* translate y-axis to move it closer */
}

/* arrow line 2 */
.line-2 {
    transform: rotate(-30deg) translateY(-0.80rem); /* translate y-axis to move it closer */
}

/* arrow line 3 */
.line-3 {
    transform: rotate(-30deg) translateY(0.80rem); /* translate y-axis to move it closer */
}

/* arrow line 4 */
.line-4 {
    transform: rotate(30deg) translateY(-0.80rem); /* translate y-axis to move it closer */
}

/* play and pause */
.play-pause {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%); /* to center the element */
    cursor: pointer;
}

.play-pause span {
    color: #fff;
    font-size: 70px;
}