@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #67696b;
    display: flex; /* center the page */
    justify-content: center; /* center the elements horizontally */
    align-items: center;  /* vertical centering for elements */
}

.card {
    width: 40rem;
    /* background-color: #ddd; */
}

.card-bio {
    background-color: #45a564;
    padding: 3rem 3rem 8rem 3rem;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
    z-index: 100; /* move the position on the top */
}

/* styles for image-wrapper */
.img-wrapper {
    width: 9rem;
    height: 9rem;
    margin-right: 3rem;
}

/* styles for image */
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* it allows to maintain the quality of the image */
    border-radius: 50%; 
}

/* styles for person-info */
.person-info {
    width: 60%;
    font-family: 'Dosis', serif;
    color: #ffff;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

/* styles for person-info heading name */
.person-info h3 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

/* styles for person-info paragraph */
.person-info p {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

/* styles for button */
.card-btn {
    position: absolute;
    bottom: -2.5rem;
    right: 10rem;
    width: 20rem;
    height: 6rem;
    background-color: #2b303a;
    color: #ffff;
    border-radius: 5rem;
    border: none;
    font-family: 'Dosis', serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all 0.6s; /* make it smooth */
}

/* when a click event gets triggered */
.change .card-btn {
    width: 6rem;
    right: 3rem;
    bottom: -3rem;
    border-radius: 50%;
}

.card-btn-contact {
    transition: all 0.6s 0.1s; /* make it smooth */
}

/* center the content (elements) */
.card-btn-contact,
.card-btn i {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* when a click event gets triggered */
.change .card-btn-contact {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s; /* make it smooth */
}

/* hide the arrow angle bracket */
.card-btn .fa-angle-up {
    opacity: 0;
    visibility: hidden;
}

/* when a click event gets triggered */
.change .card-btn .fa-angle-up {
    opacity: 1;
    visibility: visible;
    transition: all 0.6s; /* make it smooth */
}

/* styles for card-contact */
.card-dev-contact {
    background-color: #2d814d;
    color: #ffff;
    padding: 1.5rem 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transform: translateY(-100%); /* move the element up or hide the element */
    transition: all 0.6s; /* make it smooth */
}

.card-dev-contact h4 {
    font-family: 'Dosis', serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
    transform: scale(0); /* change the size of text to 0 */
    transform-origin: left;
    transition: all 0.6s; /* make it smooth */
}

/* when a click event gets triggered */
.change .card-dev-contact {
    transform: translateY(0); /* display the element */
}

/* when a click event gets triggered */
.change .card-dev-contact h4 {
    transform: scale(1); /* increase the size of text */
}

/* styles for card-social wrapper for boxes */
.card-social {
    background-color: #ffff;
    padding: 1.5rem;
    margin: 2rem 0; /* create some space between containers */
    border-radius: 0.3rem;
    display: flex; /* center the elements */
    align-items: center; /* center the elements vertically */
    cursor: pointer;
    transform: translateY(-50%); /* move the element boxes up */
    opacity: 0; /* hide the element */
    visibility: hidden; /* hide the element */
}

/* transition time with delay time */
.email {
    transition: all 0.6s 0.3s;
}

.linkedin {
    transition: all 0.6s 0.5s;
}

.slideshow-resume {
    transition: all 0.6s 0.7s;
}

/* when a click event gets triggered */
.change .card-social {
    transform: translateY(0); /* display the boxes */
    opacity: 1;
    visibility: visible;
}

/* styles for icon-wrapper */
.icon-wrapper {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex; /* centering position */
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    margin-right: 2rem;
}

/* styles for individual wrapper */
.email .icon-wrapper {
    background-color: #dd4b39;  
}

/* styles for individual wrapper */
.linkedin .icon-wrapper {
    background-color: #007bb6;  
}

/* styles for individual wrapper */
.slideshow-resume .icon-wrapper {
    background-color: #3b5998;  
}

/* styles for individual icon */
.icon-wrapper span {
    font-size: 2rem;
    color: #ffff;
}

.contact-details h4 {
    font-family: 'Dosis', serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.email h4 {
    color: #dd4b39;
}

.linkedin h4 {
    color: #007bb6;
}

.slideshow-resume h4 {
    color: #3b5998;
}

.contact-details p {
    font-family: 'Dosis', serif;
    font-size: 1.4rem;
    color: #444;
    letter-spacing: 0.1rem;
}

/* styles for right arrow */
.card-social .arrow {
    margin-left: auto;
    font-size: 2rem;
    font-weight: bold;
    color: #999;
}