@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Montserrat:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(images/image-bg.jpg) center no-repeat;
    background-size: cover;
}

.banner-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element perfectly */
    color: #fff;
}

.banner-text h1 {
    color: #fff;
    font-family: 'Lobster', cursive; /* font-family: "Montserrat", sans-serif; */
    font-size: 200px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.banner-text p {
    color: #eee;
    font-family: 'Spicy Rice', cursive; /* font-family: "Josefin Sans", sans-serif; */
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: right;  
}

.btns {
    position: absolute;
    top: 50px;
    right: 60px
}

.btn {
    width: 170px;
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    color: #fff;
    border: 2px solid tomato;
    transition: transform 0.5s;
}

.login-btn {
    background-color: tomato;
}

.signup-btn {
    background-color: transparent;
}

/* Effect when button hover */
.btn:hover {
    transform: translateY(-2px);
}

/* Effect when button clicked */
.btn:active {
    transform: translateY(0);
}

/* Display dark overlay for disabling buttons */
.form-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease;
}

/* Display dark overlay for disabling buttons */
.disable-overlay {
    opacity: 1;
    visibility: visible;
}

/* Custom styling for common modal class for signup and login */
.modal {
    width: 400px;
    background: linear-gradient(rgba(148, 42, 42, 0.8), rgba(185, 129, 129, 0.6)), url(images/image-bg.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    border-radius: 20px; 
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease;
}

/* Class to display modal form */
.display {
    opacity: 1;
    visibility: visible;
}

/* X close button for signup */
.x-btn {
    position: absolute;
    right: 20px;
    font-size: 50px;
    color: #222;
    cursor: pointer;
}

/* Form main header */
.form-header {
    text-align: center;
    margin: 80px 0 150px 0;
    color: #fff;
}

.form-header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}

.form-header h3 {
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Custom styling form class for inputs */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
}

.input-group input {
    width: 250px;
    padding: 15px 15px 15px 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #ddd;
}

.input-group i {
    position: absolute;
    top: 13px;
    left: 17px;
    font-size: 18px;
    color: #aaa;
}

/* Custom styling signup button */
.form button {
    width: 310px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #d867d8;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0 50px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.5s;
}

/* Hover effect for signup/login button */
.form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* Click effect for signup/login button */
.form button:active {
    transform: translateY(0);
}