/* @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One'); */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Alfa Slab One', cursive; */
    font-family: 'Josefin Slab', serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(images/bg.jpg) center no-repeat;
    background-size: cover;
    display: flex; /* Use flex to place the card container at center position */
    justify-content: center; /* To center the flex items perfectly */
    align-items: center; /* To center the flex items perfectly */
}

.card {
    /* width: 300px; */
    width: 400px;
    height: 560px;
    /* background-color: #eee; */
    border: 1px solid grey;
    position: relative; /* Parent position */
    perspective: 1000px;   /* How far is the element from the user */
}

.sides {
    display: flex; /* Use flex to place the heading names at center position */
    flex-direction: column; /* Place the headings as a column */
    justify-content: center; /* To center the flex items perfectly */
}

.left-side {
    position: absolute; /* Child position */  
    top: 0;
    left: 0;
    background-color: green;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(images/card-bg2.jpg) no-repeat;
    background-size: cover;
    background-position-x: 0;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg); /* Rotate according vertical direction */
    transform-origin: left; /* Rotate at the left side */ 
    transition: transform 2s; /* Make the effect smoother */
}

.right-side {
    position: absolute; /* Child position */  
    top: 0;
    right: 0;
    background-color: red;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(images/card-bg2.jpg) no-repeat;
    background-size: cover;
    background-position-x: -180px;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg); /* Rotate according vertical direction */
    transform-origin: right; /* Rotate at the right side */ 
    transition: transform 2s; /* Make the effect smoother */
}

.back-side {
    position: absolute; /* Child position */  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: chocolate;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(images/person.jpg) center no-repeat;
    background-size: cover;
    z-index: -1; /* Place it behind left and right sides */  
    transform: translateZ(-300px); /* Place it far from front side for 3D space */
    transition: z-index 0.4s step-end, transform 2s, box-shadow 1s; /* Make delay time for z-index for effect */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Place paragraph at the end of backside container */
    box-shadow: 40px 40px 80px #000;
}

.card:hover .left-side {
    transform: rotateY(-360deg); /* Rotate according vertical direction */
}

.card:hover .right-side {
    transform: rotateY(360deg); /* Rotate according vertical direction */
}

.card:hover .back-side {
    transform: translateZ(0); /* Move the backside forward */
    z-index: 1; /* Left and right sides behind backside */
    box-shadow: 50px 50px 100px #000;
}

.name {
    color: #fff;
    font-size: 35px;
    margin: 20px 5px;
}

.profession {
    color: #fff;
    font-size: 25px;
    margin: 20px 5px;
}

.left-side .name,
.left-side .profession {
    text-align: center;
    /* text-align: right; */
}

.right-side .name,
.right-side .profession {
    text-align: center;
}

.biography {
    color: #fff;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 90%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}